<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>esa simple viewer</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <ul>
      <% @posts.each do |id, post| %>
        <li><a href="/posts/<%= id %>"><%= [post['category'], post['title']].compact.join('/') %></a></li>
      <% end %>
    </ul>
  </body>
</html>
